<form #accountPasswordForm="ngForm" novalidate>
  <ion-list no-lines>
    <ion-item>
      <ion-label stacked color="primary">Password</ion-label>
      <ion-input [(ngModel)]="submission.password" name="password" type="text" #password="ngModel" spellcheck="false" autocapitalize="off"
        required>
      </ion-input>
    </ion-item>
    <p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
      Password is required
    </p>
    <br>
    <ion-row>
      <ion-col text-center>
        <button ion-button (click)="submit(submission)" type="submit" round large>Change Password</button>
      </ion-col>
    </ion-row>
  </ion-list>
</form>