<form #accountPasswordForm="ngForm" novalidate>
  <ion-list no-lines>
    <ion-item>
      <ion-label stacked color="primary">Password</ion-label>
      <ion-input [(ngModel)]="form.password" name="password" type="password" #password="ngModel" required>
      </ion-input>
    </ion-item>
    <p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
      Password is required
    </p>
    <br>
    <ion-row>
      <ion-col text-center>
        <button id="AccountUpdatePasswordButton" ion-button (click)="submit(form)" type="submit" round large>Update Password</button>
      </ion-col>
    </ion-row>
  </ion-list>
</form>