page-about {
    .feature {
        color: color($colors, primary);
        background-color: #FFF;
        border-top: thick solid color($colors, primary);                  
        border-bottom: thick solid color($colors, primary);  
    }
}