page-login {

    .container {
        background-color: color($colors, primary);    
    }
    
    .logo {
        text-align: center;
    }
    
    .logo img {
        width: 50%;
        margin: 0 auto;
        max-width: 750px;
    }

    .logForm {
        background: rgba(255, 255, 255, 0.40);
        border-radius: 60px;
        height: 60px !important;
        padding: 0 20px;
        font-size: 25px !important;
        color: #FFF !important;
        border:1px solid transparent;
        max-width: 500px;
        margin: auto;
        text-align: center;
    }
    
    .item-inner, ion-item {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
      }

    .forgot{
        color: color($colors, white);            
        font-size: 1.5em;
    }

    .submit {
        color: color($colors, primary); 
        max-width: 500px;
        margin: auto;
        text-align: center;
        background-color: color($colors, primary);
    }

    .icons {
        font-size: 3em;
        color: color($colors, white);            
    }

    .register {
        float: right;
        background-color:#fff;
        color: color($colors, primary);                    
        line-height: 25px;
        min-width: 70px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: 15px 15px 15px 30px;
        margin: auto;
    }
}
