<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color='primary'>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <header></header>
  <ion-row class="feature" *ngIf="this.thereAreFlaggedPosts">
    <ion-col text-center>
      <h3>Reported Posts</h3>
    </ion-col>
  </ion-row>
  <div *ngIf="this.thereAreFlaggedPosts" class="flagged-posts">
    <ion-list>
      <ion-item (click)="viewPost(flaggedPost.flaggedID)" *ngFor="let flaggedPost of flaggedPosts">
        <ion-row text-center>
          <ion-col>
            {{ flaggedPost.title }}
          </ion-col>
          <ion-col>
            <button id="RestorePostButton" ion-button (click)="restorePost(flaggedPost)" color="primary" round>Restore Post</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
  <div class="feature" *ngIf="!this.thereAreFlaggedPosts">
    <ion-row>
      <ion-col text-center>
        <h6>There are no reported posts</h6>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <ion-searchbar (ionInput)="getPosts($event)"></ion-searchbar>
  <ion-list>
    <ion-card id="profilePosts" class="posts" *ngFor="let post of posts">
      <ion-item class="post-header">
        <ion-avatar (click)="viewProfile(post.uid)" padding-top item-left>
          <img src="{{ post?.face }}">
        </ion-avatar>
        <ion-icon *ngIf="post.flagged" (click)="flaggedMessage()" name="alert" color="danger" item-right></ion-icon>
        <h2 padding-top ion-text color="primary" class="post-author">{{ post?.name }}</h2>
        <h3>
          <b>{{ post?.title}}</b>
        </h3>
        <span class="post-time">
          {{ post?.time }}
        </span>
      </ion-item>
      <div text-center (click)="viewPost(post.$key)">
        <img class="full-image" src="{{ post?.url }}">
        <div class="post-content">
          <h2 text-center padding>{{ post?.content}}</h2>
        </div>
        <div (click)="viewPost(post?.$key)" class="interactions" padding-left>
          <a *ngIf="post.likeCount > 1 || post.likeCount == 0" class="subdued">{{ post?.likeCount}} Likes</a>
          <a *ngIf="post.likeCount == 1" class="subdued">{{ post?.likeCount}} Like</a>
          <a *ngIf="post.commentCount > 1 || post.commentCount == 0" class="subdued" margin-left>{{ post?.commentCount}} Comments</a>
          <a *ngIf="post.commentCount == 1" class="subdued" margin-left>{{ post?.commentCount}} Comment</a>
          <br>
          <br>
        </div>
      </div>
    </ion-card>
  </ion-list>
</ion-content>