page-api-manager {
    .feature {
        border-top: thick solid color($colors, primary);                  
        border-bottom: thick solid color($colors, primary);                  
    }
    .tdct {
        max-width: 33%;
    }
}
