<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col *ngIf="this.loaded && !this.updatingPhoto" text-center>
      <ion-avatar padding-top item-left>
        <img (click)="askForImageRetrievalMethod()" class="avatar" src="{{ photo }}">
      </ion-avatar>
    </ion-col>
  </ion-row>
  <div *ngIf="this.updatingPhoto" text-center>
    <div text-center>
      <img #imageSrc/>
    </div>
    <div text-center>
      <img *ngIf="postImage" width="80%" border="black" border-width="2px" class="full-image" [src]="postImage">
      <br>
    </div>
    <ion-row>
      <ion-col text-center>
        <button id="CropPhotoButton" ion-button (click)="uploadPhoto()" color="secondary" round>Crop</button>
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col *ngIf="this.photoUpdated" text-center>
      <ion-avatar padding-top item-left>
        <img (click)="askForImageRetrievalMethod()" class="avatar" src="{{ photo }}">
      </ion-avatar>
    </ion-col>
  </ion-row>
  <form novalidate padding>
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked color="primary">Name: </ion-label>
        <ion-input [(ngModel)]="editProfileForm.name" name="name" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
          maxlength="12">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Bio: </ion-label>
        <ion-input [(ngModel)]="editProfileForm.bio" name="bio" type="text" #bio="ngModel" spellcheck="false" autocapitalize="off"
          maxlength="140">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Instagram: </ion-label>
        <ion-input [(ngModel)]="editProfileForm.instagram" name="instagram" type="text" #instagram="ngModel" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="instagram.valid || submitted == false" color="danger" padding-left>
        Instagram is required
      </p>
      <ion-item>
        <ion-label stacked color="primary">Twitter: </ion-label>
        <ion-input [(ngModel)]="editProfileForm.twitter" name="twitter" type="text" #twitter="ngModel" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="twitter.valid || submitted == false" color="danger" padding-left>
        Twitter is required
      </p>
      <ion-item>
        <ion-label stacked color="primary">LinkedIn: </ion-label>
        <ion-input [(ngModel)]="editProfileForm.linkedin" name="linkedin" type="text" #linkedin="ngModel" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="linkedin.valid || submitted == false" color="danger" padding-left>
        LinkedIn is required
      </p>
      <br>
      <ion-row>
        <ion-col text-center>
          <button id="UpdateProfileButton" ion-button (click)="submit(editProfileForm)" type="submit" round large>Update</button>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>