<ion-row id="InteractionCounts" (click)="openPost(post)">
  <ion-col text-center>
    <p color="steel" ion-text>
      <a *ngIf="post?.likeCount > 1 || post?.likeCount == 0" class="subdued">{{post?.likeCount}} Likes</a>
      <a *ngIf="post?.likeCount == 1" class="subdued">{{post?.likeCount}} Like</a>
      <a *ngIf="post?.commentCount > 1 || post?.commentCount == 0" class="subdued" margin-left>{{post?.commentCount}} Comments</a>
      <a *ngIf="post?.commentCount == 1" class="subdued" margin-left>{{post?.commentCount}} Comment</a>
    </p>
  </ion-col>
</ion-row>
<ion-row padding >
  <ion-col (click)="toggleLike()" id="ToggleLikeIcon" text-center>
    <ion-icon name="thumbs-up" color="charcoal" *ngIf="!liked"></ion-icon>
    <ion-icon name="thumbs-up" color="primary" *ngIf="liked"></ion-icon>
  </ion-col>
  <ion-col (click)="openPost(post)" id="CommentIcon" text-center>
    <ion-icon name="chatboxes" color="charcoal"></ion-icon>
  </ion-col>
</ion-row>