<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ pin?.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container">
  <ion-refresher (ionRefresh)="loadPin($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-item padding class="pin-header">
      <ion-avatar (click)="viewUser(pin.uid)" item-left>
        <img src="{{ pin?.face }}">
      </ion-avatar>
      <h2 ion-text color="primary" class="pin-author">{{ pin?.name }}</h2>
      <h2>
        <b>{{ pin?.title}}</b>
      </h2>
    </ion-item>
    <div text-center>
      
      <img *ngIf="pin?.image" class="full-image" src="{{ pin?.url }}"  (click)="openLink(pin.link)">
      <ion-row padding class="affirmation" *ngIf="!image">
          <h1 padding >{{ pin?.content}}</h1>          
      </ion-row>
      <div padding class="tuesday" *ngIf="pin?.tuesday" (click)="openLink(pin.url)" text-center>
          <button ion-button large round ><ion-icon name="play"></ion-icon></button>  
      </div>
      <div class="info">
        <h2 text-center padding *ngIf="pin?.image" >{{ pin?.content}}</h2>
        <a (click)="togglePinLike(pin)" class="subdued">
          <ion-icon name="thumbs-up" color="secondary" *ngIf="likedPin"></ion-icon>
          <ion-icon name="thumbs-up" color="gray" *ngIf="!likedPin"></ion-icon>
          {{ pin?.likeCount}}
        </a>
        <a class="subdued">
          <ion-icon name="chatboxes" color="primary"></ion-icon>
          {{ pin?.commentCount}}
        </a>
      </div>
      <ion-item class="pin-comment" *ngFor="let comment of comments">
        <ion-avatar item-left (click)="viewUser(comment?.user_id)">
          <img src="{{ comment?.face }}">
        </ion-avatar>
        <div text-right>
          <ion-icon (click)="deleteComment(comment)" name="close" color="gray" class="item-complex" *ngIf="comment?.mine"></ion-icon>
        </div>
        <h3 ion-text color="primary" class="pin-author">
          {{ comment?.name }}
        </h3>
        <p text-wrap>{{ comment?.content}}</p>
        <a (click)="toggleCommentLike(comment)" class="subdued like-count">
          <ion-icon name="heart" color="secondary" *ngIf="comment?.userLiked"></ion-icon>
          <ion-icon name="heart" color="gray" *ngIf="!comment?.userLiked"></ion-icon>
          {{ comment?.likeCount}}
        </a>
        <span class="pin-time">
          <ion-icon name="timer-outline"></ion-icon>
          {{ comment?.time }}
        </span>
      </ion-item>
    </div>
      <form #commentForm="ngForm" novalidate>
        <ion-list>
          <ion-item class="add-comment">
            <ion-label floating color="primary">Add Comment: </ion-label>
            <ion-input [(ngModel)]="commentForm.comment" name="comment" type="text" #comment="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
          <p ion-text [hidden]="comment.valid || submitted == false" color="danger" padding-left>
            Comment is required
          </p>
          <button ion-button (click)="submit(form)" color="primary" type="submit" full>Comment</button>
        </ion-list>
      </form>
  </ion-card>
</ion-content>