<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color='primary'>{{ user?.name }}</ion-title>
    <ion-buttons *ngIf="mine" end>
      <button ion-button icon-only (click)="pushProfileUpdatePage()">
        <ion-icon name="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher class="refreshing" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <div class="user-profile" text-center padding>
    <img class="avatar" src="{{ user?.photo }}">
    <ion-row *ngIf="this.user?.social" class="social" text-center>
      <ion-col *ngIf="this.user?.social.instagram" (click)="openSocial('instagram')" text-center>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-col>
      <ion-col *ngIf="this.user?.social.twitter" (click)="openSocial('twitter')" text-center>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-col>
      <ion-col *ngIf="this.user?.social.linkedin" (click)="openSocial('linkedin')" text-center>
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-col>
    </ion-row>
    <h5 class="bio">{{ user?.bio}} </h5>
    <ion-row>
      <ion-col>
        <button ion-button id="AccountViewProfileButton" (click)="pushProfileUpdatePage()" color="primary" small round strong>MESSAGES</button>
      </ion-col>
      <ion-col>
        <button ion-button id="AccountViewProfileButton" (click)="pushAccountPage()" color="primary" small round strong>ACCOUNT</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="editor && !mine">
      <ion-col>
        <button ion-button id="BlockUserButton" (click)="blockUser()" color="danger" strong>BLOCK USER</button>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <footer></footer>
</ion-content>