<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color='primary'>{{displayTime}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <header></header>
  <div *ngIf="this.monday" text-center>
    <img #imageSrc/>
  </div>
  <div *ngIf="this.monday" padding text-center>
    <img *ngIf="postImage" width="80%" border="black" border-width="2px" class="full-image" [src]="postImage">
    <br>
  </div>
  <form novalidate>
    <ion-item no-lines>
      <ion-label stacked color="primary">Title</ion-label>
      <ion-input [(ngModel)]="pinForm.title" name="title" type="text" #title="ngModel" spellcheck="false" autocapitalize="off"
        required maxlength="40">
      </ion-input>
    </ion-item>
    <p ion-text [hidden]="title.valid || submitted == false" color="danger" padding-left>
      Title is required
    </p>
    <ion-item *ngIf="!this.monday" no-lines>
      <ion-label stacked color="primary">Content</ion-label>
      <ion-input [(ngModel)]="pinForm.content" name="content" type="text" #content="ngModel">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="this.tuesday" no-lines>
      <ion-label stacked color="primary">Media URL</ion-label>
      <ion-input [(ngModel)]="pinForm.url" name="url" type="text" #url="ngModel">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="this.monday" no-lines>
      <ion-label stacked color="primary">YouTube Embed Link</ion-label>
      <ion-input [(ngModel)]="pinForm.youtubeEmbedLink" name="youtubeEmbedLink" type="text" #youtubeEmbedLink="ngModel">
      </ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col text-center>
        <button id="PinSubmitButton" ion-button (click)="submit(pinForm)" type="submit" round large>Create Pin</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>