<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <toolbar-logo></toolbar-logo>
    <ion-buttons end>
      <button (click)="showNotifications()" id="pushNotificationsPageIcon" ion-button icon-only>
        <ion-icon *ngIf="newNotifications" color="primary" name="notifications"></ion-icon>
        <ion-icon *ngIf="!newNotifications" color="primary" name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="home-content" no-border>
  <ion-refresher (ionRefresh)="refreshPage()" color="primary" no-border>
    <ion-refresher-content refreshingSpinner="dots" refreshingText="Refeshing" no-border>
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides class="pins-slider" id="PinsSlider" [speed]="2000">
    <ion-slide *ngFor="let pin of pins">
      <pin [post]="pin"></pin>
    </ion-slide>
  </ion-slides>
  <div class="posts-section">
    <div class="posts-scroller">
      <ion-segment mode="ios" class="post-segment" [(ngModel)]="postSegment" color="background" padding-top padding-left padding-right>
        <ion-segment-button value="statements">
          <b>STATEMENTS</b>
        </ion-segment-button>
        <ion-segment-button value="goals">
          <b>GOALS</b>
        </ion-segment-button>
        <br>
      </ion-segment>
      <div *ngIf="postSegment=='statements'" id="StatementsScroller">
        <ion-card *ngFor="let statement of statements">
          <statement [post]="statement"></statement>
        </ion-card>
        <ion-infinite-scroll *ngIf="!this.noMoreStatements" (ionInfinite)="$event.waitFor(loadMoreStatements($event))">
            <ion-infinite-scroll-content
            loadingSpinner="dots"
            ></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </div>
      <div *ngIf="postSegment=='goals'" id="GoalsScroller">
        <ion-card *ngFor="let goal of goals">
          <goal [post]="goal"></goal>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadMoreGoals($event))">
            <ion-infinite-scroll-content
            loadingSpinner="dots"
            ></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </div>
      <br>
    </div>
  </div>
  <footer></footer>
</ion-content>