page-home {
    .refresher-icon-color {
        color: color($colors, primary);
    }
    .pins-slider {
        max-height: 75%;
    }
    .posts-scroller {
        background-color: color($colors, primary) !important;
    }
    .card {
        border-radius: 15px;
    }
}