page-home {
    .home-content {
        background: color($colors, light-yellow);
    }
    .refreshing {
        background-color: color($colors, light-yellow);
    }
    .refresher-icon-color {
        color: color($colors, primary);
    }
}