page-home {


  .sunday {
    border-top: thick solid color($colors, primary);
    border-bottom: thick solid color($colors, primary);    
  }

  .saturday {
    border-top: thick dashed color($colors, secondary);
  }

  .pin-image {
    max-height: 200px;            
  }
  
  .pin-interaction-counts {
    color: gray;
  }
  
  .post-time {
    color: gray;
    font-size: .85em;
  }

  ion-grid {
    height: 100%;
    justify-content: center;
}

  .feature-space-bottom {
    background: linear-gradient(to Top, color($colors, light-gray), #fff);            
  }

  .feature-space-top {
    background: linear-gradient(to Bottom, color($colors, light-gray), #fff);            
  }

  .space {
    background: linear-gradient(to Bottom, color($colors, primary), #fafafa);                    
  }

  .home-time {
    color: color($colors, gray);
    font-size: .75em;                
  }
    
    .home-posts {
      background: color($colors, light-gray)
    }
  
    .card {
        border-radius : 15px;
      }

      .feature {
        background-color: #fff;
        border-top: thick solid color($colors, primary);   
        border-bottom: thick solid color($colors, primary); 
      }

      .slide-title {
        font-weight: bold
      }

      .pin-actions {
        background-color:  color($colors, light-gray);
        border: thick solid color($colors, light-green);
        border-radius: 10px;        
      }

    .post-header {
        background: linear-gradient(to Top, #faf6ed, #fff);        
      }
    
      .full-image {
        border-top: thick solid color($colors, secondary); 
        border-bottom: thick solid color($colors, secondary);
      }
    
      .post-body {
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        
        p {
          font-size: 0.8em;
        }
        
        a.subdued {
          color: $textColor;
          font-size: 0.8em;
          }
        }
      
      .item-complex{
          padding-right: 0 !important;
      }

      .post-author {
        align-self: center;
      }
    
      h3.post-author {
        font-weight: normal;
      }

      .post-actions {
        color: color($colors, gray);
        font-size: 1.4em;
        border-top: thin solid color($colors, light-gray);
        background-color: color($colors, light-green);
      }

    .info {
        padding: 5px;
        border-bottom: thin color($colors, secondary);  
        background: linear-gradient(#faf6ed, #fff);
      }
    
    .interactions {
        color: gray;
        background-color:#FFF!important;        
    }

    .posts-loaded {
      color: color($colors, gray);            
    }

    .footer-bar {
      border-top: thick solid color($colors, light-gray);      
      border-bottom: thick solid color($colors, light-gray);      
      background-color: color($colors, primary);
    }
    
}
