<h2 ion-text color="primary">
    <b>{{pin?.title}}</b>
</h2>
<div *ngIf="pin?.day == 'Monday' && !pinLoaded" padding-top>
    <img class="pin-image" (click)="viewPin(pin?.id)" src="{{ pin?.url }}">
</div>
<h5 *ngIf="pin?.description" class="post-description" (click)="viewPin(pin?.id)">{{pin?.description}}</h5>
<button *ngIf="pin?.day == 'Tuesday'" (click)="openLink(pin?.url)" color="primary" text-center ion-button round strong>
    <ion-icon padding-right name="musical-notes"></ion-icon>
    OPEN TUNE
</button>
<post-footer [postDoc]="pin"></post-footer>