<div>
    <div *ngIf="gettingPicture">
        <div text-center>
            <img #imageSrc/>
        </div>
        <div text-center>
            <img *ngIf="postImage" width="80%" border="black" border-width="2px" class="full-image" [src]="postImage">
            <br>
        </div>
        <ion-row>
            <ion-col text-center padding>
                <button id="UploadButton" ion-button (click)="upload()" type="submit" round large full>UPLOAD</button>
            </ion-col>
        </ion-row>
    </div>
    <div *ngIf="recording" text-center padding-left padding-right>
        <button (click)="stopRecording()" id="NowRecordingButton" color="danger" text-center ion-button icon-start round block
            large strong>
            <ion-icon name="mic"></ion-icon>
            STOP RECORDING
        </button>
    </div>
    <ion-row *ngIf="audioReady" responsive-sm>
        <ion-col text-center>
            <button *ngIf="!playingAudio" (click)="playAudio()" id="PlayAudioButton" color="primary" text-center ion-button icon-start
                round strong>
                <ion-icon name="play"></ion-icon>
                PLAY
            </button>
            <button *ngIf="playingAudio" (click)="stopPlayback()" id="StopPlaybackButton" color="danger" text-center ion-button icon-start
                round strong>
                <ion-icon name="square"></ion-icon>
                STOP
            </button>
        </ion-col>
        <ion-col text-center>
            <button (click)="redoRecording()" id="RedoRecordingButton" color="secondary" text-center ion-button icon-start round strong>
                <ion-icon name="refresh"></ion-icon>
                REDO
            </button>
        </ion-col>
    </ion-row>
</div>