<form #accountEmailForm="ngForm" novalidate>
  <ion-list no-lines>
    <ion-item>
      <ion-label stacked color="primary">Email</ion-label>
      <ion-input [(ngModel)]="form.email" name="email" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
        required>
      </ion-input>
    </ion-item>
    <p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
      Email is required
    </p>
    <br>
    <ion-row>
      <ion-col text-center>
        <button ion-button (click)="submit(form)" type="submit" round large>Change Email</button>
      </ion-col>
    </ion-row>
  </ion-list>
</form>