@import "ionic.globals";
$text-color : #444;
$background-color : #faf6ed;
$borderColor : #faf6ed;
$textColor : #444;
$refresher-icon-color: #0EA57E;
$refresher-text-color: #0EA57E;
$refresher-border-color: #faf6ed;
$popover-ios-text-color: #0EA57E;
$popover-md-text-color: #0EA57E;
$colors: ( 
  white: #FFF,
  gray:  #e6e5eb,
  background: #faf6ed, 
  primary : #0EA57E, 
  secondary : #CEAA51, 
  danger : #f53d3d, 
  charcoal : #444, 
  steel : #7C7C7C, 
  facebook : #3b5998
  );
@import "ionic.theme.default";
@font-face {
    font-family: "Orkney";
    src: url('../assets/fonts/orkney.woff') format('woff');
}

$font-family-md-base: "Orkney";
$font-family-ios-base: "Orkney";
$font-family-wp-base: "Orkney";
$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";