// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fafafa;
$borderColor:       #DDD;
$textColor:         #666;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  facebook:   #3b5998,  
  primary:    #0EA57E,
  secondary:  #CEAA51,
  danger:     #f53d3d,
  love:       #DC143C,
  light:      #f4f4f4,
  light-gray: #fafafa,
  dark:       #444,
  favorite:   #69BB7B,
  gray:     #8A8A8A,
  grayer:     #7C7C7C,
  green:    #33cd5f,
  yellow:   #ffc900,
  light-green: #e6f6f1,
  light-yellow: #faf6ed
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/lato.woff') format('woff');
  }
 
  $font-family-md-base: "Lato";
  $font-family-ios-base: "Lato";
  $font-family-wp-base: "Lato";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";


 