page-post {
    .container {
        .card {
          border-radius : 15px;
          
        } 
      }

      .post-header {
        background: linear-gradient(to Top, #faf6ed, #fff);        
      }
    
      .full-image {
        border-top: thick solid color($colors, secondary); 
        border-bottom: thick solid color($colors, secondary); 
      }
    
      .post-body {
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        
        p {
          font-size: 0.8em;
        }
        
        a.subdued {
          color: $textColor;
          font-size: 0.8em;
          }
        }
      
      .item-complex{
          padding-right: 0 !important;
      }
    
      .post-author {
        align-self: center;
      }
    
      h3.post-author {
        font-weight: normal;
      }
    
      .post-comment {  

        background-color:#FFF!important;
        background: #FFF;

        .like-count {
          margin-right: 5px;
          font-size: 0.8em;
        }
      }
    
      .info {
        padding: 5px;
        border-bottom: thin color($colors, secondary);  
        background: linear-gradient(#faf6ed, #fff);
      }

      .report-post {
          color: color($colors, gray); 
      }
      .add-comment {  
        
        background-color:#FFF!important;

        .like-count {
          margin-right: 5px;
          font-size: 0.8em;
        }
      }
  
}
