<ion-header no-border>
  <ion-navbar>
    <toolbar-logo></toolbar-logo>
    <ion-buttons end>
      <button *ngIf="collection !== 'pins'" ion-button icon-only end (click)="togglePostManagerMenu($event)" id="togglePostManagerMenuButton">
        <ion-icon name="ios-more" color="primary"></ion-icon>
      </button>
      <button *ngIf="mine && collection == 'pins'" id="deletePostButton" ion-button icon-only end (click)="deletePost()">
        <ion-icon name="ios-close" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="postManagerMenu" class="post-menu" padding-bottom>
    <button *ngIf="mine && private" (click)="togglePrivacy()" id="makePublicButton" color="primary" ion-button round strong float-right>MAKE PUBLIC</button>
    <button *ngIf="mine && !private" (click)="togglePrivacy()" id="makePrivateButton" color="charcoal" ion-button round strong
      float-right>MAKE PRIVATE</button>
    <button *ngIf="mine || editor" (click)="deletePost()" id="deletePostButton" color="danger" ion-button round strong float-left>DELETE</button>
    <button *ngIf="!mine && !reported" (click)="toggleReported()" id="reportPostButton" color="secondary" ion-button round strong
      float-right>REPORT</button>
    <button *ngIf="editor && reported" (click)="toggleReported()" id="unreportPostButton" color="secondary" ion-button round
      strong float-right>UNREPORT</button>
  </div>
  <post-header *ngIf="collection !== 'pins'" [postDoc]="post"></post-header>
  <img *ngIf="collection == 'statements' && post?.url" src="{{post?.url}}">
  <ion-row *ngIf="collection == 'goals'" id="DueDate" text-center>
    <ion-col text-center>
      <h5>
        <ion-icon name="alarm" color="secondary"></ion-icon>
        <b>Due {{post?.displayDueDate}}</b>
      </h5>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="audio">
    <ion-col text-center>
      <audio-player [postDoc]="post"></audio-player>
    </ion-col>
  </ion-row>
  <div *ngIf="collection == 'pins'" id="PinHeader" text-center>
    <h2 color="primary" ion-text>
      <b>{{post?.title}}</b>
    </h2>
    <h5 class="post-description" text-left>{{post?.description}}</h5>
  </div>
  <div text-center>
    <iframe *ngIf="video" [src]="video | youtube" frameborder="0" allowfullscreen></iframe>
  </div>
  <h5 *ngIf="collection !== 'pins'" id="NonPinDescription" padding-left padding-right>{{post?.description}}</h5>
  <post-footer *ngIf="loaded" [postDoc]="post"></post-footer>
  <ion-row *ngIf="commentsLoaded" class="post-comments" id="Comments">
    <div *ngFor="let comment of comments" class="comment-wrapper rlt" (hold)="onCommentHold($event, $index, comment)">
      <div>
        <img class="profile-picture left" src="{{ comment?.face }}" />
        <span *ngIf="comment?.mine" class="delete-comment">
          <ion-icon (click)="deleteComment(comment)" name="ios-close" color="steel" right></ion-icon>
        </span>
        <div class="comment-bubble left">
          <div class="comment">
            {{comment.name}}: {{ comment.description }}
          </div>
          <div color="charcoal" class="comment-detail">
            <span class="comment-time">{{ comment.displayTimestamp }} </span>
            <span *ngIf="comment?.likeCount > 1 || comment?.likeCount == 0" class="comment-like">{{ comment.likeCount }} Likes</span>
            <span *ngIf="comment?.likeCount == 1" class="comment-like">{{ comment.likeCount }} Like</span>
          </div>
          <div text-right>
            <ion-icon *ngIf="comment?.liked" (click)="removeCommentLike(comment)" name="ios-heart" color="secondary" right></ion-icon>
            <ion-icon *ngIf="!comment?.liked" (click)="addCommentLike(comment)" name="ios-heart" right></ion-icon>
          </div>
        </div>
      </div>
      <div class="cf">
      </div>
    </div>
  </ion-row>
</ion-content>
<ion-footer class="comment-footer" id="CommentBar" no-border>
    <ion-toolbar no-border color="white">
      <form #commentForm="ngForm" novalidate>
        <ion-input ion-text [(ngModel)]="commentForm.description" name="description" #description="ngModel" type="text" placeholder="Write your comment"
          spellcheck="true" autocapitalize="true" required></ion-input>
      <ion-buttons end>
        <button ion-button (click)="submit(commentForm)" type="submit" large>
          <ion-icon name="send" color="white"></ion-icon>
        </button>
      </ion-buttons>
    </form>
    </ion-toolbar>
</ion-footer>