<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ post?.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container">
  <ion-refresher (ionRefresh)="loadPost($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-item padding class="post-header">
      <ion-avatar item-left>
        <img src="{{ post?.face }}">
      </ion-avatar>
      <h2 ion-text color="primary" class="post-author">{{ post?.name }}</h2>
      <h2>
        <b>{{ post?.title}}</b>
      </h2>
    </ion-item>
    <div text-center>

      <img class="full-image" src="{{ post?.url }}">
      <div class="info">
        <h2 text-center padding>{{ post?.content}}</h2>
        <a (click)="togglePostLike(post)" class="subdued">
          <ion-icon name="thumbs-up" color="secondary" *ngIf="likedPost"></ion-icon>
          <ion-icon name="thumbs-up" color="gray" *ngIf="!likedPost"></ion-icon>
          {{ post?.likeCount}}
        </a>
        <a class="subdued">
          <ion-icon name="chatboxes" color="primary"></ion-icon>
          {{ post?.commentCount}}
        </a>
      </div>
      <ion-item class="post-comment" *ngFor="let comment of comments">
        <ion-avatar item-left (click)="viewUser(comment?.user_id)">
          <img src="{{ comment?.face }}">
        </ion-avatar>
        <div text-right>
          <ion-icon (click)="deleteComment(comment)" name="close" color="gray" class="item-complex" *ngIf="comment?.mine"></ion-icon>
        </div>

        <h3 ion-text color="primary" class="post-author">
          {{ comment?.name }}
        </h3>
        <p text-wrap>{{ comment?.content}}</p>
        <a (click)="toggleCommentLike(comment)" class="subdued like-count">
          <ion-icon name="heart" color="secondary" *ngIf="comment?.userLiked"></ion-icon>
          <ion-icon name="heart" color="gray" *ngIf="!comment?.userLiked"></ion-icon>
          {{ comment?.likeCount}}
        </a>
        <span class="post-time">
          <ion-icon name="timer-outline"></ion-icon>
          {{ comment?.time }}
        </span>
      </ion-item>
    </div>
    <form #commentForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label floating color="primary">Add Comment: </ion-label>
          <ion-input [(ngModel)]="form.comment" name="comment" type="text" #comment="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
        <p ion-text [hidden]="comment.valid || submitted == false" color="danger" padding-left>
          Comment is required
        </p>
        <button ion-button (click)="submit(form)" color="primary" type="submit" full>Comment</button>
      </ion-list>
    </form>
  </ion-card>
</ion-content>