.list-full-border {
    border-top: thick solid color($colors, primary);
    border-bottom: thick solid color($colors, primary);
    .item {
        border-top: thin solid $borderColor;
        .item-inner {
            border: none;
        }
    }
}
.menu-pages {
    background: #FFF;
}
.editor {
    color: color($colors, primary);
}
.ios .menu-icon {
  padding-left: 25%;
}
.toolbar-title.toolbar-title-md, 
.toolbar-title.toolbar-title-ios, 
.toolbar-title.toolbar-title-wp { color: map-get($colors, primary); }