
page-tutorial {
    p {
        margin: 0;
        padding: 0;
    }
    ion-slide:first-child .slide-image {
        max-width: 90%;
    }
    .content {
        background-color: #FFF;
        //background-image: linear-gradient($bg-primary);
    }
    .toolbar-background {
        background-color: transparent;
        border-color: transparent;
    }
    .slide-zoom {
        height: 100%;
    }
    .slide-title {
        margin-top: 2.8rem;
    }
    .slide-image {
        margin-top: 60%;
        max-height: 80%;
        max-width: 100%;
        margin: 7% 0;
    }
    b {
        font-weight: 500;
    }
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
        b {
            color: #000000;
        }
    }
    .toolbar-ios {
        padding: 4px;
    }
    .content-ios .scroll-content {
        margin-top: 0;
    }
}