page-users-manager {
    .feature {
        border-top: thick solid color($colors, primary);
        border-bottom: thick solid color($colors, primary);
        background: color($colors, light-yellow);
    }
    .flagged-users {
        border-top: thick solid color($colors, primary);   
        border-bottom: thick solid color($colors, primary); 
    }
    .avatar {
        display: round;
        margin-left: auto ; 
        margin-right: auto;
        max-width: 150px;
        border-radius: 50%;
        text-align: center;
    }
}
