<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color='primary'>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <header></header>
  <ion-row *ngIf="this.thereAreBlockedUsers">
    <ion-col text-center>
      <h3>Blocked Users</h3>
    </ion-col>
  </ion-row>
  <div *ngIf="this.thereAreBlockedUsers" class="flagged-users">
    <ion-list>
      <ion-item (click)="viewProfile(blockedUser.id)" *ngFor="let blockedUser of blockedUsers">
        <ion-row text-center>
          <ion-col>
            {{ blockedUser.name }}
          </ion-col>
          <ion-col>
            <button id="unblockUserButton" ion-button (click)="unblockUser(blockedUser)" color="primary" round>Unblock User</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
  <div class="feature" *ngIf="!this.thereAreBlockedUsers">
    <ion-row>
      <ion-col text-center>
        <h6>There are no blocked users</h6>
      </ion-col>
    </ion-row>
  </div>
  <ion-toolbar no-border-top color='primary'>
    <ion-searchbar color="primary" (ionInput)="getUsers($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-card (click)="viewProfile(user.uid)" *ngFor="let user of users">
    <ion-row text-center>
      <ion-col>
        <b>
          <h4>{{ user?.name}} </h4>
        </b>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <img class="avatar" src="{{ user?.photo }}">
      </ion-col>
    </ion-row>
    <ion-row text-center *ngIf="user?.bio">
      <ion-col>
        <h6 class="bio">{{ user?.bio}} </h6>
      </ion-col>
    </ion-row>
  </ion-card>
  <br>
  <footer></footer>
</ion-content>