<post-header [postDoc]="goal"></post-header>
<ion-row (click)="viewGoal(goal.id)">
  <ion-col text-center>
    <h2 id="GoalDueDate">
      <ion-icon name="alarm" color="secondary"></ion-icon>
      <b>Due {{goal?.displayDueDate}}</b>
    </h2>
  </ion-col>
</ion-row>
<ion-row *ngIf="goal?.url">
  <ion-col text-center>
    <audio-player [postDoc]="goal" ></audio-player>
  </ion-col>
</ion-row>
<h2 class="post-description" (click)="viewGoal(goal.id)" id="GoalDescription">
  {{ goal.description }}
</h2>
<post-footer [postDoc]="goal"></post-footer>
