<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <toolbar-logo></toolbar-logo>
    <ion-buttons id="setRootHomePageIcon" end>
      <button ion-button icon-only (click)="setRootHomePage()">
        <ion-icon color='primary' name="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [@staggerIn]="newChats.length" [@staggerIn]="earlierChats.length">
  <br>
  <div>
    <h5 class="feature">New Messages</h5>
    <ion-list class="chats" id="NewMessages" no-lines>
      <ion-item *ngFor="let newChat of newChats" text-wrap (click)="viewChat(newChat)" class="chat">
        <ion-avatar (click)="viewUser(chat.uid)" item-left>
          <img class="profile-picture" src="{{ newChat.face }}" alt="" />
        </ion-avatar>
        <h2>{{newChat.name}}</h2>
        <h6 color="steel" ion-text>{{newChat.lastMessageDisplayTimestamp}}</h6>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <h5 class="feature">Earlier Messages</h5>
    <ion-list class="chats" id="EarlierMessages" no-lines>
      <ion-item *ngFor="let earlierChat of earlierChats" text-wrap (click)="viewChat(earlierChat)" class="chat">
        <ion-avatar item-left>
          <img class="profile-picture" src="{{ earlierChat.face }}" alt="" />
        </ion-avatar>
        <h2>{{earlierChat.name}}</h2>
        <h6 color="steel" ion-text>{{earlierChat.lastMessageDisplayTimestamp}}</h6>
      </ion-item>
    </ion-list>
  </div>
</ion-content>