<ion-header no-border>
  <ion-navbar color='primary' no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color='primary'>Post Manager</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-segment [(ngModel)]="postType" color="primary" padding-top padding-left padding-right>
    <ion-segment-button value="pins">
      <ion-icon name="calendar"></ion-icon>
      <b>PINS</b>
    </ion-segment-button>
    <ion-segment-button value="statements">
      <ion-icon name="images"></ion-icon>
      <b>STATEMENTS</b>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="postType=='pins'" text-center>
    <h5 color="primary" ion-text>
      <b>{{viewTitle}}</b>
    </h5>
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" noEventsLabel="No Pin Created for {{displaySelectedDay}}"
      (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
      step="30" class="calendar">
    </calendar>
    <ion-row>
      <ion-col text-center>
        <button ion-button id="CreatePinButton" (click)="pushPinCreatorPage()" color="primary" large round>CREATE PIN</button>
      </ion-col>
    </ion-row>
    <br>
  </div>
  <div *ngIf="postType=='statements'">
    <br>
    <br>
    <div class="feature" text-center>
      <h5>There are no reported statements</h5>
    </div>
    <br>
  </div>
</ion-content>