page-post-manager {
    .monthview-datetable {
        border: 0 !important;
        td,
        th {
            border: 0 !important;
            padding: 3px!important;
            font-size: .9em;
        }
    }
    .monthview-primary-with-event {
        background-color: color($colors, secondary) !important;
        color: white !important;
    }
    .monthview-selected {
        background-color: color($colors, primary) !important;
        color: white !important;
    }
    .calendar-title {
        background-color: color($colors, primary) !important;
        color: white !important; 
    }
    .monthview-eventdetail-timecolumn {
        font-weight: bold;
    }
    .no-events-label {
        font-weight: bold;
    }
    .event-detail {
        font-weight: bold;
        color: color($colors, primary) !important
    }
    .feature {
        background: color($colors, light-yellow);
        border-top: thick solid color($colors, primary);                  
        border-bottom: thick solid color($colors, primary);                  
    }
}