<ion-header no-border>
  <ion-navbar color='light-yellow'>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <h2 color="primary" ion-text text-center padding-bottom>
    <b>NOTIFICATIONS</b>
  </h2>
  <h5 class="feature" color="primary" ion-text padding>NEW</h5>
  <ion-list no-lines>
    <ion-item *ngFor="let unreadNotification of unreadNotifications" text-wrap>
      <ion-avatar item-left>
        <img src="{{ unreadNotification.face }}">
      </ion-avatar>
      <ion-icon item-end *ngIf="unreadNotification.like || unreadNotification.commentLike" name="heart" color="primary"></ion-icon>
      <ion-icon item-end *ngIf="unreadNotification.comment" name="ios-chatboxes" color="primary"></ion-icon>
      <ion-icon item-end *ngIf="unreadNotification.reminder" name="ios-checkbox" color="primary"></ion-icon>
      <span ion-text color="primary"> {{ unreadNotification.name }} </span>
      <span> {{ unreadNotification.message }} </span>
      <br>
      <span ion-text color="dark">{{ unreadNotification.displayTimestamp }}</span>
    </ion-item>
  </ion-list>
  <h5 class="feature" color="primary" ion-text padding>SEEN</h5>
  <ion-list no-lines>
    <ion-item *ngFor="let readNotification of readNotifications" text-wrap>
      <ion-avatar item-left>
        <img src="{{ readNotification.face }}">
      </ion-avatar>
      <ion-icon item-end *ngIf="readNotification.like || readNotification.commentLike" name="heart" color="primary"></ion-icon>
      <ion-icon item-end *ngIf="readNotification.comment" name="ios-chatboxes" color="primary"></ion-icon>
      <ion-icon item-end *ngIf="readNotification.reminder" name="ios-checkbox" color="primary"></ion-icon>
      <span ion-text color="primary"> {{ readNotification.name }} </span>
      <span> {{ readNotification.message }} </span>
      <br>
      <span ion-text color="dark">{{ readNotification.displayTimestamp }}</span>
    </ion-item>
  </ion-list>
  <footer></footer>
</ion-content>