<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <toolbar-logo></toolbar-logo>
    <ion-buttons end>
      <button (click)="setRootProfilePage()" id="setRootProfilePageIcon" ion-button icon-only>
        <ion-icon color="primary" name="ios-person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [@staggerIn]="newNotifications.length" [@staggerIn]="earlierNotifications.length">
  <ion-refresher (ionRefresh)="refreshPage()" color="primary" no-border>
    <ion-refresher-content refreshingSpinner="dots" refreshingText="Refeshing" no-border>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <div id="NewNotifications">
      <h5 class="feature">New Notifications</h5>
      <ion-item *ngFor="let newNotification of newNotifications" (click)="openNotification(newNotification)" text-wrap no-lines>
        <ion-avatar (click)="viewUser(newNotification.uid)" item-left>
          <img src="{{ newNotification.face }}">
        </ion-avatar>
        <ion-icon item-end *ngIf="newNotification.pinLike || newNotification.statementLike || newNotification.goalLike || newNotification.commentLike "
          name="heart" color="primary"></ion-icon>
        <ion-icon item-end *ngIf="newNotification.comment " name="ios-chatboxes"
          color="primary"></ion-icon>
        <ion-icon item-end *ngIf="newNotification.reminder" name="ios-checkbox"
          color="primary"></ion-icon>
        <span  ion-text color="primary">
          <b>{{ newNotification.name }}</b>
        </span>
        <span> {{ newNotification.description }} </span>
        <br>
        <span ion-text color="steel">{{ newNotification.displayTimestamp }}</span>
      </ion-item>
    </div>
    <div id="EarlierNotifications">
      <h5 class="feature">Earlier Notifications</h5>
      <ion-item *ngFor="let earlierNotification of earlierNotifications" (click)="openNotification(earlierNotification)" text-wrap no-lines>
        <ion-avatar (click)="viewUser(earlierNotification.uid)" item-left>
          <img src="{{ earlierNotification.face }}">
        </ion-avatar>
        <ion-icon item-end *ngIf="earlierNotification.pinLike || earlierNotification.statementLike || earlierNotification.goalLike || earlierNotification.commentLike "
           name="heart-outline" color="primary"></ion-icon>
        <ion-icon item-end *ngIf="earlierNotification.comment " name="ios-chatboxes-outline" color="primary"></ion-icon>
        <ion-icon item-end *ngIf="earlierNotification.reminder" name="ios-checkbox-outline" color="primary"></ion-icon>
        <span ion-text color="primary">
          <b>{{ earlierNotification.name }}</b>
        </span>
        <span> {{ earlierNotification.description }} </span>
        <br>
        <span ion-text color="steel">{{ earlierNotification.displayTimestamp }}</span>
      </ion-item>
    </div>
  </ion-list>
  <footer></footer>
</ion-content>