<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color='primary'>NOTIFICATIONS</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h6 class="feature" padding>New</h6>
  <ion-list>
    <ion-item *ngFor="let unreadNotification of unreadNotifications" text-wrap>
      <ion-avatar item-left>
        <img src="{{ unreadNotification.user.photo }}">
      </ion-avatar>
      <ion-icon item-end *ngIf="unreadNotification.like || unreadNotification.commentLike" name="heart" color="primary"></ion-icon>
      <ion-icon item-end *ngIf="unreadNotification.comment" name="ios-chatboxes" color="primary"></ion-icon>
      <ion-icon item-end *ngIf="unreadNotification.reminder" name="ios-checkbox" color="primary"></ion-icon>
      <span ion-text color="primary"> {{ unreadNotification.user.name }} </span>
      <span> {{ unreadNotification.message }} </span>
      <br>
      <span ion-text color="dark">{{ unreadNotification.timestamp.displayTime }}</span>
    </ion-item>
  </ion-list>
  <h6 class="feature" padding>Seen</h6>
  <ion-list>
    <ion-item *ngFor="let readNotification of readNotifications" text-wrap>
      <ion-avatar item-left>
        <img src="{{ readNotification.user.photo }}">
      </ion-avatar>
      <ion-icon item-end *ngIf="readNotification.like || readNotification.commentLike" name="heart" color="primary"></ion-icon>
      <ion-icon item-end *ngIf="readNotification.comment" name="ios-chatboxes" color="primary"></ion-icon>
      <ion-icon item-end *ngIf="readNotification.reminder" name="ios-checkbox" color="primary"></ion-icon>
      <span ion-text color="primary"> {{ readNotification.user.name }} </span>
      <span> {{ readNotification.message }} </span>
      <br>
      <span ion-text color="dark">{{ readNotification.timestamp.displayTime }}</span>
    </ion-item>
  </ion-list>
  <footer></footer>
</ion-content>