pins {
    .pin-image {
        max-width: 67%;
        max-height: 150px;
        border-radius: 15px;
    }
    ion-grid {
        height: 100%;
        justify-content: center;
    }
    .pin-actions {
        font-size: .75em;
        max-width: 50%;
        background-color: white;
        border-radius: 15px;
    }
    .pin-interaction-counts {
        padding-top: 10px;
    }
}