<div class="feature">
  <ion-slides *ngIf="pins" [speed]="2000" pager>
    <ion-slide padding *ngFor="let pin of pins">
      <h2 ion-text color="primary" padding>{{pin.timestamp.displayDate}}</h2>
      <h3>
        <b>{{pin.title}}</b>
      </h3>
      <img *ngIf="pin.day == 'Monday'" class="pin-image" src="{{ pin?.mediaUrl }}">
      <h5 *ngIf="pin.description">{{pin.description}}</h5>
      <button *ngIf="pin.day == 'Tuesday'" (click)="openLink(pin.url)" text-center ion-button small round>
        <ion-icon name="play"></ion-icon>
      </button>
      <div class="pin-interaction-counts" (click)="viewPin(pin.id)">
        <h6>
          <a *ngIf="pin.likeCount > 1 || pin.likeCount == 0" class="subdued">{{ pin?.likeCount}} Likes</a>
          <a *ngIf="pin.likeCount == 1" class="subdued">{{ pin?.likeCount}} Like</a>
          <a *ngIf="pin.commentCount > 1 || pin.commentCount == 0" class="subdued" margin-left>{{ pin?.commentCount}} Comments</a>
          <a *ngIf="pin.commentCount == 1" class="subdued" margin-left>{{ pin?.commentCount}} Comment</a>
        </h6>
      </div>
      <ion-grid class="pin-actions">
        <ion-row>
          <ion-col width-50 text-center (click)="togglePinLike(pin)">
            <ion-icon color="dark" name="thumbs-up"></ion-icon>
          </ion-col>
          <ion-col width-50 text-center (click)="viewPin(pin?.id)">
            <ion-icon color="dark" name="chatboxes"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
    </ion-slide>
  </ion-slides>
</div>