pins {
    .feature {
        background: color($colors, light-yellow);
        border-bottom: thick solid color($colors, primary);
    }
    .pin-image {
        max-width: 67%;
        max-height: 150px;           
    }
    ion-grid {
        height: 100%;
        justify-content: center;
    }
    .pin-actions {
        font-size: .75em;
        max-width: 50%;
        background-color: #FFF;
        border-radius: 15px;
    }
    .pin-interaction-counts {
        padding-top: 10px;
    }
    .swiper-pagination-bullet-active{
        background: color($colors, dark) !important;
        opacity: 1;
      }
}