
uid {{uid}}
<div text-center>
  <img src="assets/img/headshot.png">
</div>
<p>
  iShallBe is your daily boost to get you started and through each day. Through daily quotes, inspirational videos, motivational
  messages, and testimonials it is our goal to give users that daily motivation to clear your mind, achieve a dream,
  or fulfill a goal. + iShallBe is your daily boost to get you started and through each day. Through daily quotes, inspirational
  videos, motivational messages, and testimonials it is our goal to give users that daily motivation to clear your mind,
  achieve a dream, or fulfill a goal.
  <br>