page-account {
    .account-details {
        border-bottom: thick solid color($colors, primary);                  
    }

    .main-buttons {
        border-bottom: thin dotted color($colors, gray);                  
    }

    .update-account {
        border-bottom: thin dotted color($colors, gray);                  
    }
    
}
