page-account {
    .feature {
        background-color: white;
        border-top: thick solid color($colors, primary);                  
        border-bottom: thick solid color($colors, primary);                  
    }
}
