<div *ngIf="goals" class="goals-content" text-center>
  <br>
  <ion-card *ngFor="let goal of goals">
    <post-header [postDoc]="goal"></post-header>
    <audio-player [postDoc]="goal"></audio-player>
    <div padding-top>
        <h6>
          <ion-icon name="alarm" color="secondary"></ion-icon>
          <b>DUE {{goal.displayDueDate}}</b>
        </h6>
      </div>
    <div (click)="viewGoal(goal.id)" text-left padding>
      <h2>
        {{ goal.description }}
      </h2>
    </div>
    <post-footer [postDoc]="goal"></post-footer>
  </ion-card>
  <br>
  <footer></footer>
</div>