goals {
    .statements-section {
        background-color: color($colors, primary);
    }
    .card {
        border-radius : 15px;
      }
    .goal-header {
        background: #FFF;
    }
    .goal-body {
        background: #FFF;
    }
    .goal-actions {
        background: color($colors, light-gray);
        color: #7C7C7C;
        font-size: 1.4em;
    }
}