statements {
    .statements-content {
        background-color: white;
    }
    .card {
        border-radius : 15px;
      }
    .statement-header {
        background: color($colors, light-yellow);
        border-bottom: thick solid color($colors, primary);
    }
    .statement-body {
        border-top: thick solid color($colors, primary);
    }
    .statement-actions {
        background: color($colors, light-yellow);
        color: #7C7C7C;
        font-size: 1.4em;
    }
}